include README.md
include LICENSE
include requirements.txt
include requirements-dev.txt
recursive-include ai *.py
recursive-exclude ai/tests *
recursive-exclude * __pycache__
recursive-exclude * *.pyc
recursive-exclude * *.pyo
